@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Nunito", sans-serif;
  padding: 3.5rem 0;
  height: 100vh;
  min-height: 100vh;
  background: rgb(255, 236, 240);
  background: linear-gradient(
    170deg,
    rgba(192, 228, 236, 1) 0%,
    rgba(255, 236, 240, 1) 52%,
    rgba(231, 255, 245, 1) 100%
    
  );
  overflow: scroll;
}
